# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Node
node_modules/
dist/
dist-ssr/
*.local
.env.local
.env.*.local

# OS files
Thumbs.db
[Dd]esktop.ini
.DS_Store
